@page "/connections"
@using CrossBusExplorer.Management
@using System.Runtime.InteropServices


<PageTitle>Connections</PageTitle>

<MudTable Items="_connectionsList" Hover="true" SortLabel="Sort By" Elevation="0">
    <HeaderContent>
        <MudTh>
            Actions
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ServiceBusConnection, object>(x => x.Name)">Name</MudTableSortLabel>
        </MudTh>
        <MudTh>
            Fully qualified name
        </MudTh>
        <MudTh>
           View connection string
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Actions">
            <MudTooltip Text="Add service bus connection">
                <MudIconButton Icon="@Icons.Material.Outlined.Add"/>
            </MudTooltip>
            <MudTooltip Text="Edit service bus connection">
                <MudIconButton Icon="@Icons.Material.Outlined.Edit"/>
            </MudTooltip>
            <MudTooltip Text="Delete service bus connection">
                <MudIconButton Icon="@Icons.Material.Outlined.Delete"/>
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Fully qualified name">@context.FullyQualifiedName</MudTd>
        <MudTd DataLabel="View connection string">
            <MudTooltip Text="View service bus connection string">
                <MudIconButton Icon="@Icons.Material.Outlined.Preview"/>
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{50, 100}"/>
    </PagerContent>
</MudTable>

<!--


<div class="mdc-layout-grid__cell--span-12">
    <MBCard AutoStyled="true">
        <Primary>
            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                Service bus connections
            </h2>

            <div class="overflow-auto">
                <p>
                    <MBIconButton Icon="add"
                                  Tooltip="Add new service bus connection"
                                  @onclick="@(ShowAddConnectionDialog)"/>
                </p>
                <p>
                    <MBDataTable class="my-data-table"
                                 Context="item"
                                 Items="@_connectionsList"
                                 StickyHeader="true"
                                 style="max-height: 400px;">
                        <TableHeader>
                            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Actions</th>
                            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Name</th>
                            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Fully qualified name</th>
                            <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">View connection string</th>
                        </TableHeader>
                        <TableRow>
                            <td class="mdc-data-table__cell">
                                <MBIconButton Icon="link" Tooltip="Connect to Service Bus"></MBIconButton>
                                <MBIconButton Icon="edit" Tooltip="Edit connection" @onclick="@(() => EditConnection(item))"></MBIconButton>
                                <MBIconButton Icon="delete" Tooltip="Delete connection" @onclick="@(() => ShowDeleteConnectionConfirm(item.Name))"></MBIconButton>
                            </td>
                            <td class="mdc-data-table__cell">@item.Name</td>
                            <td class="mdc-data-table__cell">@item.FullyQualifiedName</td>
                            <td class="mdc-data-table__cell">
                                <MBIconButton Icon="visibility" Tooltip="View connection string" @onclick="@(() => ViewConnectionString(item.ConnectionString))"></MBIconButton>
                            </td>
                        </TableRow>
                    </MBDataTable>
                </p>
            </div>
        </Primary>
    </MBCard>
</div>

<MBDialog @ref="@AddConnectionDialog"
          class="mdc-dialog--fullscreen">
    <Body>
    <EditForm
        Model="_addEditConnectionModel"
        OnValidSubmit="@AddConnectionDialogSubmitted">
        <DataAnnotationsValidator/>

        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12">
                <p>Connection save dialog</p>
            </div>
            <div class="mdc-layout-grid__cell--span-12">
                <MBTextArea @bind-Value=_addEditConnectionModel.ConnectionString
                            HelperTextPersistent="true"
                            Label="Connection string"
                            style="width: 100%;"
                            TextInputStyle="@MBTextInputStyle.Outlined"
                            TrailingIcon="lock_outline"
                            ValidationMessageFor="@(() => _addEditConnectionModel.ConnectionString!)">
                </MBTextArea>
            </div>
            <div class="mdc-layout-grid__cell--span-12">
                <MBTextField @bind-Value=_addEditConnectionModel.Name
                             Label="name"
                             style="width: 100%; margin-top: 6px;"
                             TextInputStyle="@MBTextInputStyle.Outlined"
                             ValidationMessageFor="@(() => _addEditConnectionModel.Name!)"/>
            </div>
            <div class="mdc-layout-grid__cell--span-12" style="text-align: right;">
                <MBButton Label="Save"
                          style="margin: 0.75em 0.25em 0.25em 0.25em;"
                          type="submit"/>
                <MBButton Label="Cancel"
                          @onclick="@AddConnectionDialogCanceled"
                          style="margin: 0.75em 0.25em 0.25em 0.25em;"
                          type="button"/>
            </div>
        </div>
    </EditForm>
    </Body>
</MBDialog>

<MBConfirmationDialog @ref="@DeleteDialog"
                      Title="Are you sure?">
</MBConfirmationDialog>

<MBDialog @ref="@ViewConnectionStringDialog" class="mdc-dialog--fullscreen">
    <Body>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
            <MBTextArea @bind-Value="_viewConnectionStringValue"
                        HelperTextPersistent="true"
                        Label="Connection string"
                        style="width: 100%;"
                        TextInputStyle="@MBTextInputStyle.Outlined"
                        TrailingIcon="lock_outline"
                        Disabled="true">
            </MBTextArea>
        </div>
    </div>
    </Body>
    <Buttons>
        <MBButton ButtonStyle="@MBButtonStyle.Text"
                  DialogAction="cancel"
                  Label="Close"/>
    </Buttons>
</MBDialog> -->