@using CrossBusExplorer.Website.ViewModels
@using MudBlazor.Utilities

@foreach (var job in Model.Jobs)
{
    <MudTooltip Placement="Placement.Right" Text="@($"{job.Name} {job.Progress}%")">
        <MudIconButton OnClick="@(() => job.ViewDetails = !job.ViewDetails)">
            <MudProgressCircular Style="height:30px;width:30px; color: white;" Indeterminate="true"/>
        </MudIconButton>
        <MudPopover Open="@job.ViewDetails"
                    AnchorOrigin="@Origin.BottomRight"
                    TransformOrigin="@Origin.TopLeft"
                    Class="pa-4">
            <div class="d-flex">
                <MudText>@($"{job.Name} {job.Progress}%")</MudText>
                <MudTooltip Text="Cancel">
                    <MudIconButton Icon="@Icons.Filled.Cancel"
                                   Color="Color.Primary"
                                   Size="Size.Small"
                                   OnClick="@(() => Model.CancelJob(job))">
                    </MudIconButton>
                </MudTooltip>
            </div>
        </MudPopover>
    </MudTooltip>
}

@code {
    [Inject]
    public IJobsViewModel Model { get; set; }

    protected override void OnInitialized()
    {
        Model.PropertyChanged += (_, _) => StateHasChanged();
    }
}