@using CrossBusExplorer.Website.ViewModels

@foreach (var job in Model.Jobs)
{
    <MudTooltip Text="@($"{job.Name} {job.Progress}%")">
        <MudButton OnClick="@(() => job.ViewDetails = !job.ViewDetails)">
            <MudProgressCircular Size="Size.Medium" Indeterminate="true"/>
        </MudButton>
        <MudPopover Open="@job.ViewDetails"
                    OverflowBehavior="@OverflowBehavior.FlipNever"
                    AnchorOrigin="@Origin.BottomCenter"
                    TransformOrigin="@Origin.TopCenter"
                    Class="pa-4">
            <div class="d-flex">
                <MudText>@($"{job.Name} {job.Progress}%")</MudText>
                <MudTooltip Text="Cancel">
                    <MudIconButton Icon="@Icons.Filled.Cancel" 
                                   Size="Size.Small"
                                   OnClick="@(() => Model.CancelJob(job))"></MudIconButton>
                </MudTooltip>
            </div>
        </MudPopover>
    </MudTooltip>
}

@code {
    [Inject]
    public IJobsViewModel Model { get; set; }

    protected override void OnInitialized()
    {
        Model.PropertyChanged += (_, _) => StateHasChanged();
    }
}