@using CrossBusExplorer.Website.Models
@inherits LayoutComponentBase
@inject IConnectionsViewModel _connectionsViewModel
@inject ISettingsService SettingsService

<MudThemeProvider Theme="_customTheme" @bind-IsDarkMode="@_userSettings.IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent Style="padding-top: 0; position: fixed; height: 100%; width: 100%; z-index: 0" Class="d-flex flex-grow-1">
        <SidePanel DarkMode="@_userSettings.IsDarkMode" ChangeDarkMode="@((value) => ChangeDarkMode(value))">
            <ServiceBusNavMenu/>
        </SidePanel>
        <MudContainer Class="flex-shrink-1" Style="padding-top: 24px">
            <ErrorBoundary @ref="@_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p>Exception: @context.Message</p>
                </ErrorContent>
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {
    private ErrorBoundary? _errorBoundary;
    private bool _isOpen;
    private UserSettings _userSettings = new UserSettings();
    
    [Inject]
    private MudTheme _customTheme { get; set; }

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

    protected override async Task OnInitializedAsync()
    {
        await _connectionsViewModel.InitializeAsync(default);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _userSettings = await SettingsService.GetAsync(default);
            StateHasChanged();
        }
    }

    private async Task ChangeDarkMode(bool isDarkMode)
    {
        _userSettings.IsDarkMode = isDarkMode;
        StateHasChanged();

        await SettingsService.SaveAsync(_userSettings, default);
    }
}